*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: serif;
}

body{
    background-color: #eee;
}

.container{
    background-color: #222;
    width: 80vw;
    margin: 4% auto;
    padding: 20px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 5fr 3fr;
}

.img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.img .img-box img,canvas{
    max-width: 45vw;
    max-height: 60vh;
}

.upload input{
    display:none;
}

.upload label{
    color: #fff;
    padding: 8px 20px;
    border: 2px dashed white;
    text-transform: capitalize;
    cursor: pointer;
}

.filters ul,.filters ul li{
display: flex;
flex-direction: column;
gap: 25px;
direction: rtl;
text-transform: capitalize;
}

.filters ul li label{
    color: white;
}

.filters ul li:last-child{
    flex-direction: row;
    justify-content: space-around;
}

.filters ul li a,span{
    color: white;
    padding: 10px 20px;
    background-color: #060;
    text-transform: capitalize;
    cursor: pointer;
    
}

@media (max-width:650px) {
    .container{
        grid-template-columns: 1fr;
        gap: 50px;
    }
    .img .img-box img,canvas{
        max-width: 70vw;
        max-height: 60vh;
    }
}